*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.flexbox{
    justify-content: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
Div1{
    text-align: center;
    margin: 5px;
    background-color: #2AA2D6;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    transition: all 2s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.product-image {
    width: 150px;
    height: 150px;
}

.product-title {
    margin-top: 10px;
}

.product-description {
    display: none;
    margin-top: 10px;
}

.product-button {
    margin-top: 10px;
}

