*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.flexbox{
    justify-content: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
Div1{
    margin: 10px;
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 3s ease-in-out;
}
Div1:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1), 0 3px 20px 0 rgba(0, 0, 0, 1);
}
.Info{
    margin: 10px;
    width: 800px;
    align-content: center;
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 1s ease-in-out;
}
.Info:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1), 0 3px 20px 0 rgba(0, 0, 0, 1);
}
.Info img{
    width: 700px;
    margin: 30px;
}
.huis{
    line-height: 30px;
}
.huis-img {
    width: 300px;
}



