*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.flexbox{
    justify-content: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
Div1{
    margin: 10px;
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}

.huis{
    line-height: 30px;
}
.huis-img {
    width: 300px;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
}


